body {
    background-image: url('./images/background.png');
    color: white;
  }
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 50px;
    width: 70%;

}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 50px;
    width: 90%;
}
.planetas {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    width: 30%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.Mercúrio{
    width: 40px;
    margin-bottom: 140%;
}
.Vênus{
    width: 90px;
    margin-bottom: 100%;
}
.Terra{
    width: 100px;
    margin-bottom: 80%;
}
.Marte{
    width: 60px;
    margin-bottom: 160%;
}
.Júpiter{
   width: 300px;
}
.Saturno{
    width: 290px;
}
.Urano{
    width: 130px;
    margin-bottom: 40%;
}
.Netuno{
    width: 130px;
    margin-bottom: 40%;
}
.solar-system {
    display: flex;
    flex-direction: column;
    justify-content:end;
    text-align: center;
    height: 300px;    
}
.container-missions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    text-align: center;
}
.mission-card{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    width: 20%;
    margin-bottom: 20px;
}

h3{
    border-bottom: 1px solid white;
    font-size: 25px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: 400;
}
