div:hover{
    border: 2px solid red
}

h3{
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-family: monospace;
}
 div:nth-of-type(1){
    background-color: red;
    font-style: italic;
}
div:nth-of-type(2){
    background-color: orange;
}
div:nth-of-type(3){
    background-color: blue;
    height: 50px;
    font-style: italic;
}
div:nth-of-type(4){
    background-color: gray;
}
div:nth-of-type(5){
    background-color: rgb(238, 238, 153);
    font-style: italic;
}






/*
1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
2 - Faça cada div ter uma cor própria.
3 - Estilize cada uma das tags h3 .
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico.
